.TotalCardDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}
.PageNotFoundGiff {
  align-items: center;
}

.UserInputs {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding: 10px;
  border-radius: 5px;
  max-height: 100vh;
  max-width: 400px;
  margin: auto;
  margin-top: 10px;
  background-color: rgb(195, 211, 235);
}

.CreateUserGiff {
  width: 150px;
  border-radius: 100px;
  opacity: 70%;
  margin: auto;
}
.App {
  margin: 0;
  border: 0;
}

.profileCard {
  background-color: #808090;
  display: flex;
  justify-content: center;
}
